/* styles.css */
body {
    font-family: Arial, sans-serif;
}

#content p {
    font-size: 16px;
}

.par {
    color: blue;
}

.impar {
    color: green;
}

.cambiar-fondo {
    background-color: rgb(175, 133, 133);
}

input.vacio {
    border: 2px solid red;
}

.imagenes-visible img {
    display: grid;
    width: 200px;
    height: 200px;
}

.imagenes-oculto img {
    display: none;
}
